
@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    ViewBag.Title = "Presupuestos";
}

<header class="dark:bg-slate-900 border-b border-slate-800">
</header>

<main class="overflow-y-auto p-6 ">
            
</main>

