
@{
    ViewBag.Title = "Soporte";
}

<main class="min-h-screen pt-12">
    <header class="relative py-24 text-center overflow-hidden bg-gradient-to-t from-purple-950 via-gray-950 to-slate-950">
        <div class="w-full h-fit">
            <h1 class="text-white text-5xl font-bold">Centro de Soporte</h1>
            <p class="text-gray-500 text-2xl">¿En qué podemos ayudarte hoy? Busca en nuestra base de conocimiento o explora los temas de ayuda.</p>
        </div>
        <div>
            <input type="text" placeholder="Buscar en el centro de soporte..." />
        </div>
        <div>
            <p>Búsquedas populares: <a href="#">configurar cuenta</a> | <a href="#">Exportar Excel</a> | <a href="#">Sincronozación bancaria</a></p>
        </div>
    </header>
</main>

